<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.idrees.styleomega">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/roundlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roundlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="DATABASE"
            android:value="styleOmega.db" />
        <meta-data
            android:name="VERSION"
            android:value="11" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.idrees.styleomega.Model" />

        <activity
            android:name=".Activities.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.DetailedItemsScreen" />
        <activity android:name=".Activities.ShoppingCart" />
        <activity android:name=".Activities.CheckoutScreen" />
        <activity
            android:name=".Activities.Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.productpage"
            android:label="@string/title_activity_productpage"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>